
body {
    text-align: center;
    background-color: #202020;
    font-family: "Lato";
    color: white;
}
.img-upload {
    width: 300px;
    margin: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    }
div.index {
    font-family: "Nunito";
    padding: 10px 0 30px 0;   
}

div.uploaded {
    margin: 4% auto;
    width: 50%;
    
    text-align: center;
    padding: 10px;
}

h1{
    margin: auto;
    width: 50%;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    
    text-align: center;
    background: -webkit-linear-gradient(0deg,#ec525e, #97D9E1 , #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
    padding: 10px;
    font-size: 90px;
    margin-bottom: 20px;
}
div.index form{
    margin: auto;
    width: 30%;
    text-align: center; 
    padding: 35px 0px;
    
    border-radius: 9px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #ec525e, #97D9E1);
    border-image-slice: 1;
 }

div.index input[type=file] {
    color:#ec525e;
    font-family: Lato;
    font-weight: lighter;
    font-size: 15px;
}  
  
input[type=submit] {
    font-family: Nunito,  'Arial', sans-serif;
    background-color: #ec525e;
    border: none;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 9px;
    margin-bottom: 25px;
}
input[type=submit]:hover {
    background-color: #97D9E1;
    margin-bottom: 25px;

}

.original-image{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.output-image {
    display: flex;
    justify-content: center;
}

img{
    width:50%;
    
}
.caption {
    
    font-family: Lato,sans-serif;
    font-size: 25px;
    width: 50%;
    
    text-align: left;
}
label{
    font-family: Lato,sans-serif;
    font-size: 20px;
}