{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="uploaded">
<div>
    <form id="display_output" action="{{ url_for('display') }}" method="POST">
        <label for="type_options">Select the type of colorblindness to simulate:</label>
        <select name="types" id="types">
            <option value="p">Protanopia (Missing red cone)</option>
            <option value="d">Deuteranopia (Missing green cone)</option>
            <option value="t">Tritanopia (Missing blue cone)</option>
        </select>
        <input style="margin-top: 25px;" type="submit" value="Simulate">
    </form>
</div>

<span class="caption">Original image</span>
<div class = "original-image">
    <img class="img-upload" src="{{url_for('static', filename=input_filename)}}">
</div>    
    

<span class="caption">{{chosen_type}}</span>
<div class = "output-image">
    <img class="img-upload" src="{{url_for('static', filename=output_filename)}}">
</div>    
    


<form id="back_form" action="{{ url_for('index') }}" method="GET">
    <input type="submit" value="Upload another image">
</form>
</div>
{% endblock %}